$mainColor: #0288d1;

$secondColor: #2196f3;

$thirdColor: #16a1e7;

$mainBcgColor: #0288d1;

$secondBcgColor: #282c34;

$thirdBcgColor: #596370;

$fourthBcgColor: #000000;

$fifthBcgColor: #1c72aa;

$headerHeight: 50px;

$footerHeight: 100px;

$userBarWidth: 200px;

$chatUserHeight: 70px;

$sumHeaderFooterHeight : $headerHeight+$footerHeight;

$sumFHchatUserHeight: $chatUserHeight+$sumHeaderFooterHeight;